modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "7776830596:AAEfR4EXKB1FFSzNEZMAvu7jBWWApwd2Hvw"
TELEGRAM_CHAT_ID = "6725073871"
WHATSAPP_ADMIN_NUMBER = "213772339494"

[nix]
channel = "stable-25_05"
